<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/sge?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>
    <mapping class="model.Certificado"/>
    <mapping class="model.Inscricao"/>
    <mapping class="model.Fotos"/>
    <mapping class="model.Externo"/>
    <mapping class="model.Administrador"/>
    <mapping class="model.Aluno"/>
    <mapping class="model.Gerente"/>
    <mapping class="model.Proposta"/>
    <mapping class="model.Galeria"/>
    <mapping class="model.Noticia"/>
    <mapping class="model.Local"/>
    <mapping class="model.Album"/>
    <mapping class="model.Evento"/>
  </session-factory>
</hibernate-configuration>
